<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Themes</key>
	<array>
		<dict>
			<key>image</key>
			<string>theme01</string>
			<key>name</key>
			<string></string>
			<key>id</key>
			<string>0000001</string>
		</dict>
		<dict>
			<key>image</key>
			<string>theme02</string>
			<key>name</key>
			<string></string>
			<key>id</key>
			<string></string>
		</dict>
		<dict>
			<key>image</key>
			<string>theme03</string>
			<key>name</key>
			<string></string>
			<key>id</key>
			<string></string>
		</dict>
		<dict>
			<key>image</key>
			<string>theme04</string>
			<key>name</key>
			<string></string>
			<key>id</key>
			<string></string>
		</dict>
	</array>
	<key>Languages</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>name</key>
			<string>English</string>
			<key>locale</key>
			<string>en</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>name</key>
			<string>French</string>
			<key>locale</key>
			<string>fr</string>
		</dict>
	</array>
	<key>Background Music</key>
	<array>
		<dict>
			<key>color</key>
			<array>
				<integer>179</integer>
				<integer>217</integer>
				<integer>194</integer>
			</array>
			<key>name</key>
			<string>air</string>
			<key>soundPath</key>
			<string>air.m4a</string>
			<key>image</key>
			<string>air.png</string>
		</dict>
		<dict>
			<key>color</key>
			<array>
				<integer>191</integer>
				<integer>197</integer>
				<integer>4</integer>
			</array>
			<key>name</key>
			<string>earth</string>
			<key>soundPath</key>
			<string>earth.m4a</string>
			<key>image</key>
			<string>earth.png</string>
		</dict>
		<dict>
			<key>color</key>
			<array>
				<integer>230</integer>
				<integer>79</integer>
				<integer>19</integer>
			</array>
			<key>name</key>
			<string>fire</string>
			<key>soundPath</key>
			<string>fire.m4a</string>
			<key>image</key>
			<string>fire.png</string>
		</dict>
		<dict>
			<key>color</key>
			<array>
				<integer>62</integer>
				<integer>140</integer>
				<integer>192</integer>
			</array>
			<key>name</key>
			<string>water</string>
			<key>soundPath</key>
			<string>water.m4a</string>
			<key>image</key>
			<string>water.png</string>
		</dict>
	</array>
	<key>People</key>
	<array>
		<dict>
			<key>name</key>
			<string>Bhavnath</string>
			<key>gender</key>
			<string>male</string>
			<key>voicePath</key>
			<string>pauline_J&apos;ai de plus en plus confiance en moi.m4a</string>
			<key>color</key>
			<array>
				<integer>44</integer>
				<integer>206</integer>
				<integer>223</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Pauline</string>
			<key>gender</key>
			<string>female</string>
			<key>voicePath</key>
			<string>pauline_Je_me_releve_dans_tout_situation.m4a</string>
			<key>color</key>
			<array>
				<integer>232</integer>
				<integer>66</integer>
				<integer>145</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Sophie</string>
			<key>gender</key>
			<string>female</string>
			<key>voicePath</key>
			<string></string>
			<key>color</key>
			<array>
				<integer>232</integer>
				<integer>66</integer>
				<integer>145</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Valérie</string>
			<key>gender</key>
			<string>female</string>
			<key>voicePath</key>
			<string></string>
			<key>color</key>
			<array>
				<integer>232</integer>
				<integer>66</integer>
				<integer>145</integer>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>David</string>
			<key>gender</key>
			<string>male</string>
			<key>voicePath</key>
			<string></string>
			<key>color</key>
			<array>
				<integer>44</integer>
				<integer>206</integer>
				<integer>223</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
